<app-navbar></app-navbar>
<h1 style="text-align:center;">Proyectos Activos</h1>
<br/>
<div>
  <div class="row" *ngFor="let proyecto of proyectos">
    <div class="col-sm-4">
      <h1>{{ proyecto.titulo }}</h1>
      <h5>{{ proyecto.key }}</h5>
      <p>{{ proyecto.descripcion }}</p>
      <br/>
    </div>
  </div>
  <div style="height: 75px" >
    <input *ngIf="start" type="button" value="Retroceder" (click)="previous()">  -  
    <input  type="button" value="Siguiente" (click)="next()">    
  </div>
<br/>


