<app-navbar></app-navbar>
<h1 style="text-align:center;">
  Nuestros Clientes
</h1>
<hr>
<br>
<div id="clientes">
    <div id="info" >
        <h1 id="title">Nombre del cliente</h1>
        <img id="infoimagen" src="https://yt3.ggpht.com/a-/AN66SAxPoIhh-dfxJisQyTaGGlPjtqJleJaOI-yg2g=s900-mo-c-c0xffffffff-rj-k-no" alt=""> 
        <br>
        <textarea id="descrip" rows="3" cols="50" disabled>Hola, soy una descripcionola, soy una descripcionola, soy una descripcionola, soy una descripcionola, soy una descripcionola, soy una descripcionola, soy una descripcion</textarea>
        <br>
        <h4 id="contacto">Contacto: <input type="text" id="nomcon" value="Nombre de contacto"  disabled > </h4> 
        <h4 id="contacto">Telefono: <input type="text" id="nomcon" value="22571100"  disabled > </h4> 
        <a style="margin-left:25%;" target="_blank" href="https://www.corporacionbi.com/gt/bancoindustrial/inicio">Pagina de la empresa</a>
        <br>
        <br>
        <h5 style="margin-left:50%;">Proyectos realizados: <input type="text" id="cantp" value="502 22571100"  disabled ></h5>
    </div>
  
<div class="grid-container"> 
    <div class="grid-item">
      <div id="imagen">
            <button class="w3-button w3-white w3-border" id="but"></button>
    </div></div>
    <div class="grid-item">
        <div id="imagen">
            <button class="w3-button w3-white w3-border" id="but"></button>
        </div>
    </div>
    <div class="grid-item">
        <div id="imagen" >
                <button class="w3-button w3-white w3-border" id="but"></button>
        </div>
    </div>  
    <div class="grid-item">
        <div id="imagen">
            <img src="https://yt3.ggpht.com/a-/AN66SAxPoIhh-dfxJisQyTaGGlPjtqJleJaOI-yg2g=s900-mo-c-c0xffffffff-rj-k-no" 
            alt="Forest" width="100" height="100">
        </div>
    </div>
    <div class="grid-item">
        <div id="imagen">
            <img src="https://yt3.ggpht.com/a-/AN66SAxPoIhh-dfxJisQyTaGGlPjtqJleJaOI-yg2g=s900-mo-c-c0xffffffff-rj-k-no" 
            alt="Forest" width="100" height="100">
        </div>
    </div>
    <div class="grid-item">
        <div id="imagen">
            <img src="https://yt3.ggpht.com/a-/AN66SAxPoIhh-dfxJisQyTaGGlPjtqJleJaOI-yg2g=s900-mo-c-c0xffffffff-rj-k-no" 
            alt="Forest" width="100" height="100">
        </div>
    </div>  
    <div class="grid-item">
        <div id="imagen">
            <img src="https://yt3.ggpht.com/a-/AN66SAxPoIhh-dfxJisQyTaGGlPjtqJleJaOI-yg2g=s900-mo-c-c0xffffffff-rj-k-no" 
            alt="Forest" width="100" height="100">
        </div>
    </div>
    <div class="grid-item">
        <div id="imagen">
            <img src="https://yt3.ggpht.com/a-/AN66SAxPoIhh-dfxJisQyTaGGlPjtqJleJaOI-yg2g=s900-mo-c-c0xffffffff-rj-k-no" 
            alt="Forest" width="100" height="100">
        </div>
    </div>
    <div class="grid-item">
        <div id="imagen">
            <img src="https://yt3.ggpht.com/a-/AN66SAxPoIhh-dfxJisQyTaGGlPjtqJleJaOI-yg2g=s900-mo-c-c0xffffffff-rj-k-no" 
            alt="Forest" width="100" height="100">
        </div>
    </div>
    <div class="grid-item">
        <div id="imagen">
            <img src="https://yt3.ggpht.com/a-/AN66SAxPoIhh-dfxJisQyTaGGlPjtqJleJaOI-yg2g=s900-mo-c-c0xffffffff-rj-k-no" 
            alt="Forest" width="100" height="100">
        </div>
    </div>
    <div class="grid-item">
        <div id="imagen">
            <img src="https://yt3.ggpht.com/a-/AN66SAxPoIhh-dfxJisQyTaGGlPjtqJleJaOI-yg2g=s900-mo-c-c0xffffffff-rj-k-no" 
            alt="Forest" width="100" height="100">
        </div>
    </div>
    <div class="grid-item">
        <div id="imagen">
            <img src="https://yt3.ggpht.com/a-/AN66SAxPoIhh-dfxJisQyTaGGlPjtqJleJaOI-yg2g=s900-mo-c-c0xffffffff-rj-k-no" 
            alt="Forest" width="100" height="100">
        </div>
    </div>
    <div class="grid-item">
        <div id="imagen">
            <img src="https://yt3.ggpht.com/a-/AN66SAxPoIhh-dfxJisQyTaGGlPjtqJleJaOI-yg2g=s900-mo-c-c0xffffffff-rj-k-no" 
            alt="Forest" width="100" height="100">
        </div>
    </div>
    <div class="grid-item">
        <div id="imagen">
            <img src="https://yt3.ggpht.com/a-/AN66SAxPoIhh-dfxJisQyTaGGlPjtqJleJaOI-yg2g=s900-mo-c-c0xffffffff-rj-k-no" 
            alt="Forest" width="100" height="100">
        </div>
    </div>
    
  </div>

 
    
</div>
