<app-navbar></app-navbar>
<h1 style="text-align:center;">
  Nuestros Clientes
</h1>
<hr>
<br>
<div id="clientes">
    <div class="container" >
        <div class="row justify-content-md-left" >
          <div class="col col-lg-1" style="background-color:black">
     
          </div>
          <div class="col col-lg-1" style="background-color:black">

          </div>
          <div class="col col-lg-1" style="background-color:black">

          </div>
        </div>
        <div class="row justify-content-md-center" style="background-color:black">
          <div class="col-md-auto">
            1 of 3
          </div>
          <div class="col-md-auto">
           1
          </div>
          <div class="col-md-auto">
            3 of 3
          </div>
        </div>
      </div>
    
</div>
