<app-navbar></app-navbar>
<br>
<div class="container" id="back">
  <h1 style="text-align:center;">
    Bitacora de: "proyecto"
  </h1>
    <hr>
    <br>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" data-toggle="modal" data-target="#myModal">
      <a >Tarea--</a>
      <a >nombre del empleado/  </a>
      <a >Puesto</a> <h6 id="estado">Hola</h6>
    </a> 
    <a class="list-group-item list-group-item-action">
        <a >Tarea--</a>
        <a >nombre del empleado/  </a>
        <a >Puesto</a> <h6 id="estado">Hola</h6>
    </a> 
    <a class="list-group-item list-group-item-action">
      <a >Tarea--</a>
      <a >nombre del empleadoaaaa/  </a>
      <a >Puesto</a> <h6 id="estado">Hola</h6>
    </a> 
    <a class="list-group-item list-group-item-action">
      <a >Tarea--</a>
      <a >nombre del empleado/  </a>
      <a >Puesto</a> <h6 id="estado">Hola</h6>
    </a> 
  </div>
    <br>
  <button type="button" class="btn btn-outline-primary" id="boton" data-toggle="modal" data-target="#tarea">+</button>
  <div class="si">
    <button type="button" class="btn btn-outline-success">Finalizar</button> <a href="" style="opacity: 0.0">-</a> 
    <button type="button" class="btn btn-outline-danger">Cancelar</button>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Comentario</h4>
      </div>
      <div class="modal-body">
        <input type="text" id="text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="tarea" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregar Tarea</h4>
      </div>
      <div class="modal-body">
        <h5>Nombre de tarea</h5>
        <input type="text" id="text">
        <br>
        <br>
        <h4>Encargado:</h4>
        <input type="search" id="search" name="q" placeholder="Search the site..." size="30">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
