<app-navbar></app-navbar>
<!--<p>
  Nuevo Proyecto works!
</p>
<input type="submit" (click)="enterProyecto()">
<br/>
<input type="submit" (click)="enterTarea()">
<br/>
<input type="submit" (click)="enterEquipo()">
<br/>>-->
<br>
<div class="container" id="back">
 <h1 id="titulo">
   Proyecto Nuevo
 </h1>
 <hr class="my-4">
 <br>
  <label>
    <h5>
      Nombre del proyecto: <input id="titulo" type="text" placeholder="Nuevo-proyecto">
    </h5>
    <br>
    <h5>
      Descripcion: <input id="descripcion" type="text" placeholder="Nueva descripcion">
    </h5>
    

  </label>
</div>