<app-navbar></app-navbar>

<!--<p>
  Nuevo Proyecto works!
</p>
<input type="submit" (click)="enterProyecto()">
<br/>
<input type="submit" (click)="enterTarea()">
<br/>
<input type="submit" (click)="enterEquipo()">
<br/>>-->
<br>
<div class="container" class="shadow p-3 mb-5 bg-white rounded" id="back">
 <h1 id="titulo">
   Proyecto Nuevo
 </h1>
 <hr>
 <br>
  <label>
      <h4>
        <span class="badge badge-primary">Nombre del proyecto: </span> <br/>
        <input id="titulo" type="text" placeholder="Nuevo proyecto" [(ngModel)]="proyecto.titulo" >
      </h4> 
      <br>
      <br>
      <h4>
          <span class="badge badge-success">Descripcion del proyecto: </span><br/>
      </h4>
      <form id="descripcion" action = "/cgi-bin/hello_get.cgi" method = "get">
        <textarea [(ngModel)]="proyecto.descripcion" rows = "3" cols = "60" name = "description"></textarea><br>
      </form>
      <br>
      <br>
      <br>
      <br>
      <h4> 
          <span class="badge badge-danger">Nombre del Cliente: </span> <br/>
          <p></p>  
          <select [(ngModel)]="proyecto.idCliente" class="custom-select custom-select-sm" id="cliente">
            <option>Elegir un Cliente</option>
            <option [value]="cliente.id" *ngFor="let cliente of clientes">{{cliente.nombre}}</option>
          </select>
      </h4>
      <br>
      <br>
      <h4>
          <span class="badge badge-warning">Proyect Manager:  </span>  
          <p></p>
          <select [(ngModel)]="proyecto.proyectManager" class="custom-select custom-select-sm" id="cliente">
            <option>Elegir al PM</option>
            <option [value]="equipo.id" *ngFor="let equipo of proyMang">{{equipo.nombre}} {{equipo.apellido}}</option>
          </select>
      </h4>
      <br>
      <br>
      <h4>
          <span class="badge badge-info">Semanas estimadas:  </span>  
          <p></p>
          <input id="titulo" type="text" placeholder="X Semanas" [(ngModel)]="proyecto.semanas">
        </h4>
      <br>
      <br>
      <h4>
          <span class="badge badge-dark">Fechas de inicio:  </span>  
          <br>
          <input id="fecha" type="date" placeholder="Nuevos proyecto" [(ngModel)]="proyecto.fechaInicio">
          <input type="submit" id="Guardar" (click)="save()" >
      </h4>
</label>
