<app-navbar></app-navbar>

<!--<p>
  Nuevo Proyecto works!
</p>
<input type="submit" (click)="enterProyecto()">
<br/>
<input type="submit" (click)="enterTarea()">
<br/>
<input type="submit" (click)="enterEquipo()">
<br/>>-->
<br>
<div class="container" id="back">
 <h1 id="titulo">
   Proyecto Nuevo
 </h1>
 <hr>
 <br>
  <label>
      <h6>
        Nombre del proyecto: <input id="titulo" type="text" placeholder="Nuevo proyecto">
      </h6>
      <h6>
        Descripcion del proyecto: 
      </h6>
      <form action = "/cgi-bin/hello_get.cgi" method = "get">
        <textarea rows = "3" cols = "60" name = "description"></textarea><br>
      </form>
      <h6> 
        Cliente: <select>
          <option value="volvo">////////////</option>
          <option value="saab">//////////</option>
          <option value="opel">#3</option>
          <option value="audi">#4</option>
        </select>
      </h6>
      <h6>
        Proyect Manager: <select>
            <option value="volvo">////////////</option>
            <option value="saab">//////////</option>
            <option value="opel">#3</option>
            <option value="audi">#4</option>
          </select>
      </h6>
      <h6>
        Semanas estimadas: <input id="titulo" type="text" placeholder="Nuevo proyecto">
      </h6>
      <h6>
        
      </h6>
        

  </label>
