div#back{
    margin: auto;
    height: 500px;
    width: 80%;
    background-color: whitesmoke;
}

h1#titulo{
    text-align: center;
}

input{
    border: whitesmoke;
    border-bottom: 2px solid blue;
    background-color: whitesmoke;
}